adbc_driver_manager==1.5.0
adbc_driver_postgresql==1.5.0
adbc_driver_sqlite==1.5.0
aiohttp==3.11.18
AppKit==0.2.8
array_api_strict==2.3.1
atheris==2.3.0
beautifulsoup4==4.13.4
boto3==1.38.6
botocore==1.38.6
brotli==1.1.0
brotlicffi==1.1.0.0
chardet==5.2.0
checks==0.2
ConfigParser==7.2.0
contextlib2==21.6.0
cryptography==44.0.2
cycler==0.12.1
Cython==3.0.12
docutils==0.21.2
exceptiongroup==1.2.2
fastparquet==2024.11.0
filelock==3.18.0
Foundation==0.1.0a0.dev1
fqdn==1.5.1
fsspec==2025.3.2
h2==4.2.0
HTMLParser==0.0.2
hypothesis==6.131.9
importlib_metadata==8.7.0
importlib_resources==6.5.2
ipython==9.2.0
ipywidgets==8.1.6
isoduration==20.11.0
jax==0.6.0
jnius==1.1.0
js==1.0
jsonpointer==3.0.0
keyring==25.6.0
lxml==5.4.0
MarkupSafe==3.0.2
matplotlib==3.10.1
mock==5.2.0
mpmath==1.3.0
mtrand==0.1
multidict==6.4.3
mypy==1.15.0
ndonnx==0.10.1
numexpr==2.10.2
odfpy==1.4.1
openpyxl==3.1.5
pexpect==4.9.0
pickle5==0.0.12
Pillow==11.2.1
pkgutil_resolve_name==1.3.10
pooch==1.8.2
protobuf==6.30.2
psutil==7.0.0
PyInstaller==6.13.0
pyodide==0.0.2
PyOpenGL==3.1.9
pyOpenSSL==25.0.0
pyperf==2.9.0
PyQt4==4.11.4
PyQt5==5.15.11
pytest_fail_slow==0.6.0
pytest_run_parallel==0.4.2
pytest_timeout==2.3.1
python_calamine==0.3.2
pywin32==310
pyxlsb==1.0.10
PyYAML==6.0.2
qtpy==2.4.3
redis==6.0.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
s3fs==2025.3.2
scikit_learn==1.6.1
scikits.talkbox==0.2.5
scipy_doctest==1.7.1
sets==0.3.2
setuptools==80.1.0
simplejson==3.20.1
Sphinx==8.2.3
SQLAlchemy==2.0.40
sympy==1.14.0
tables==3.10.2
threadpoolctl==3.6.0
tokenize_rt==6.1.0
traitlets==5.14.3
Twisted==24.11.0
uri_template==1.3.0
urllib3_secure_extra==0.1.0
uvloop==0.21.0
webcolors==24.11.1
xarray==2025.4.0
xlrd==2.0.1
xlsxwriter==3.2.3
xmlrpclib==1.0.1
zope==5.13
zstandard==0.23.0
