Flask==3.1.1
npyscreen==4.10.5
numpy==2.3.0
pandas==2.3.0
plotext==5.3.2
python_dateutil==2.9.0.post0
Requests==2.32.4
rich==14.0.0
scipy==1.15.3
termplotlib==0.3.9
toml==0.10.2
tomlkit==0.13.3
typer==0.16.0
