click==8.1.8
colorama==0.4.6
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==2.2.5
Pygments==2.19.1
rich==14.0.0
scipy==1.15.2
shellingham==1.5.4
termplotlib==0.3.9
toml==0.10.2
tomlkit==0.13.2
typer==0.15.2
typing_extensions==4.13.2
